@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');

body {
	background-color: #f9f9f9;
	font-family: 'Poppins', sans-serif;
}

body > #root > div {
	position: relative;
}

input, button {
	font-family: inherit;
}

.TodoApp {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 100px;
	box-sizing: border-box;
}

.TodoApp__form {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: #fff;
	border: 1px solid #f1f0f0;
	border-bottom: 5px solid #afa7a7;
}

.TodoApp__form > * {
    padding: 1rem;
	border: 1px solid #f1f0f0;
}

.TodoApp__form > input {
    width: 100%;
}

.TodoApp__form > button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
	border: 1px solid #404040;
	background-color: #404040;
    color: white;
}

.TodoApp__form > button:disabled {
   	background-color: #afa7a7;
	border: 1px solid #afa7a7;
}




.TodoApp__list {
	border: 1px solid #f1f0f0;
}

.TodoApp__list li {
	padding:  2rem;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	transition: 0.2s all;
}

.TodoApp__list li:hover {
	border-left: 5px solid #afa7a7;
}

.TodoApp__list li:hover button{
	background-color: #f1eded;
}

.TodoApp__list li input {
	padding: 0rem;
	margin: 0rem;
	margin-right: 1rem;
	vertical-align: middle;
}

.TodoApp__list li label {
	width: 100%;
	font-size: 13px;
	line-height: 2;
}

.TodoApp__list li button {
	border-radius: 50%;
    padding: 0.2em 0.7em;
	margin-top: 4px;
    border: none;
    color: white;
	background-color: #fff;
	max-height: 25px;
}

.TodoApp__footer {
	text-align: center;
	color: white;
	background-color: #afa7a7;
	height: 50px;
	display: flex;
    justify-content: center;
    flex-direction: column;
	left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.TodoApp__footer a {
	color: inherit;
	font-size: 12px;
    text-decoration: none;
}

